* {
    font-family: "Maple Mono NL NF CN", sans-serif;
}

window#waybar {
    background-color: #343F44;
    font-size: 14px;
    border-radius: 0px;
    margin: 0px;
    padding: 0;
    min-height: 36px;
}

/* Left-most: Arch icon */
#custom-appmenu {
  font-size: 4px;
  background-image: url('/usr/share/icons/cachyos.svg');
  background-color: #343F44;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px 12px;

}

/* Right-most: Clock */
#clock {
    font-size: 14px;
    background-color: #343F44;
    color: #d3c6aa;
    border-radius: 0px;
    padding: 0px 8px;
}

/* Active window title */
#window {
    font-size: 14px;
    font-weight: 800;
    color: #d3c6aa;
    border-radius: 0px;
    padding: 0px 12px;
    background-color: #343F44;
    min-height: 26px;
}

/* Workspace container */
#workspaces {
    background: #343F44;
    font-weight: bold;
    border-radius: 0px;
    font-size: 20px;
    color: #d3c6aa;
}

/* Individual workspace buttons - always visible */
#workspaces button {
    border-radius: 0px;
    font-size: 20px;
    padding: 0px 8px;
    color: #7a8478;
    background: #343F44;
    min-width: 20px;
}

#workspaces button.active {
    border-radius: 0px;
    color: #d3c6aa;
    background: #343F44;
    border-bottom: 2px solid #a7c080;
}

#workspaces button:hover {
    border-radius: 0px;
    background: #475258;
    border-width: 0px;
}

/* Power/exit button */
#custom-exit {
    background-color: #a7c080;
    font-size: 14px;
    font-weight: 800;
    color: #343F44;
    padding: 0px 6px;
    margin: 1px 1px 1px 0;
}

/* Tooltips */
tooltip {
    border-radius: 12px;
    background-color: #343F44;
    color: #d3c6aa;
    padding: 4px 8px;
}

/* Taskbar */
#taskbar {
    background-color: #343F44;
    margin: 0px;
    border-radius: 0px;
    font-weight: normal;
}

#taskbar button {
    padding: 2px 4px;
}

/* All system info modules */
#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery,
#tray,
/* #custom-updates, */
#custom-notification,
#custom-idle-inhibit {
    background-color: #343F44;
    font-size: 14px;
    font-weight: 800;
    color: #d3c6aa;
    border-radius: 0px;
    padding: 4px 10px;
}

/* Idle Inhibit active (抑制中 - 不会锁屏) */
#custom-idle-inhibit.active {
    color: #a7c080;
}

/* Battery critical warning */
#battery.critical:not(.charging) {
    background-color: #e67e80;
    color: #343F44;
    animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
    to {
        background-color: #343F44;
        color: #ffffff;
    }
}
