* {
    font-family: "JetBrainsMonoNL Nerd Font Mono", "Hack", monospace;
    font-size: 17px;
}

window {
    background-color: #2d353b;
}

#input {
    margin: 5px;
    border-radius: 8px;
    border: 2px solid #7fbbb3;
    background-color: #2d353b;
    color: #d3c6aa;
    padding: 8px;
}

#inner-box {
    background-color: #2d353b;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #2d353b;
    border: 1px solid #475259;
    border-radius: 12px;
}

#scroll {
    margin: 5px;
    background-color: #2d353b;
}

#text {
    padding: 6px;
    color: #d3c6aa;
}

#entry:nth-child(even) {
    background-color: #3a464c;
    border-radius: 6px;
}

#entry:nth-child(odd) {
    background-color: #2d353b;
    border-radius: 6px;
}

#entry:selected {
    background-color: #7fbbb3;
    color: #2d353b;
}

#text:selected {
    background: transparent;
    color: #2d353b;
}
