* {
    font-family: "Maple Mono NL NF CN", monospace;
    font-size: 19px;
}

window {
    background-color: #2d353b;
}

#input {
    margin: 5px;
    border: 2px solid #a7c080;
    background-color: #2d353b;
    color: #d3c6aa;
    padding: 8px;
}

#inner-box {
    background-color: #2d353b;
}

#outer-box {
    margin: 2px;
    padding: 10px;
    background-color: #2d353b;
    border: 1px solid #4f585e;
}

#scroll {
    margin: 5px;
    background-color: #2d353b;
}

#entry, #text {
    min-height: 29px;
}

#text {
    padding: 5px;
    color: #d3c6aa;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: visible;
    text-overflow: clip;
}

#entry:nth-child(even) {
    background-color: #343f44;
}

#entry:nth-child(odd) {
    background-color: #2d353b;
}

#entry:selected {
    background-color: #a7c080;
    color: #2d353b;
}

#text:selected {
    background: transparent;
    color: #2d353b;
}
